/* MAIN CLASS LOGIN */
.login {
    background-color: #3d465038;
    color: #ffffff;
    height: auto;
    border-radius: 10px;
}


form {
    width: 100%;
}

/* LABEL PARCEIROS */

.parceiros {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    color: #212529;
    font-weight: bold;
}


/* INPUTs RADIO */

input[type="radio"] {
    width: 20px;
    background-color: #ff5f2e9d;
    transition: all .2s;
}


input[type="radio"]:checked {
    transform: scale(1.5);
}


/* INPUTS DE EMAIL E SENHA */
input[type="email"],
input[type="password"] {

    background-color: #212529;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    size: 16px;
    padding: 5px;
    border: 1px solid #ff5f2e9d;;
    outline: none;

}


input[type="email"]:focus,
input[type="password"]:focus {

    width: 100%;
    box-shadow: 0 0 2px 2px #ff5f2e9d;

}



/* Esqueci minha senha */
.esqueci_senha {
    width: 100%;

}

p {
    text-align: right;
}


.esqueci_senha p a {

    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}




.esqueci_senha p a:hover {
    background-color: rgba(220, 20, 60, 0.575);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}


/* BOTÃO ENTRAR */

input[type="submit"] {
    background-color: #ffffff;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #ffffff;
    transition: all .2s;
}

input[type="submit"]:hover {
    background-color: #ff5f2e9d;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid #ffffff;

}
