<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
	<servlet-name>cadastro_empresa</servlet-name>
	<servlet-class>
	main.equalizes_jsp.servlet.CadastroEmpresaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>cadastro_empresa</servlet-name>
	<url-pattern>/cadastro_empresa</url-pattern>
	</servlet-mapping>
</web-app>
